<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPills</title>
    <script type="importmap"></script>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/lib/adminlte/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css"/>
    <!--<link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPills.styles.css" asp-append-version="true" />
</head>
<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
<div class="skip-links"><a href="#main" class="skip-link">Skip to main content</a><a href="#navigation" class="skip-link">Skip to navigation</a></div>
<div class="app-wrapper">
    
    <!-- Top side nav block -->
    <nav class="app-header navbar navbar-expand bg-body">
        <div class="container-fluid">
            <ul class="navbar-nav" role="navigation" aria-label="Navigation 1">
                <li class="nav-item">
                    <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                        <i class="fa-solid fa-list"></i>
                    </a>
                </li>
                <li class="nav-item d-none d-md-block"><a asp-area="" asp-page="/Index" class="nav-link">Home</a></li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </nav>
    
    <!-- Side Navigation -->
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <div class="sidebar-brand">
            <a asp-area="" asp-page="/Index" class="brand-link">
                @*
                <img
                    src="./assets/img/AdminLTELogo.png"
                    alt="AdminLTE Logo"
                    class="brand-image opacity-75 shadow"/>
                    *@
                <span class="brand-text fw-light">My Pills</span>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <nav class="mt-2">
                <ul
                    class="nav sidebar-menu flex-column"
                    data-lte-toggle="treeview"
                    role="navigation"
                    aria-label="Main navigation"
                    data-accordion="false"
                    id="navigation">
                    
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Index" class="nav-link">
                            <i class="nav-icon bi bi-download"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Medicines/Index" class="nav-link">
                            <i class="nav-icon bi bi-download"></i>
                            <p>Medicines</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Stock/Index" class="nav-link">
                            <i class="nav-icon bi bi-download"></i>
                            <p>Stock</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Prescriptions/Index" class="nav-link">
                            <i class="nav-icon bi bi-download"></i>
                            <p>Prescriptions</p>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </aside>
    
    <main class="app-main" role="main" id="main" >
        @RenderBody()
    </main>
    
    <footer class="app-footer">
        &copy; 2026 - MyPills
    </footer>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/adminlte/dist/js/adminlte.js"></script>
<!--<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>-->
<script src="~/lib/fontawesome/dist/js/all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
