@page
@model MyPills.Pages.Medicines.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container my-5">
    <h2 class="mb-4">Edit Medicine</h2>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Medicine.Id" />
                <div class="form-floating mb-3">
                    <input asp-for="Medicine.Name" class="form-control" />
                    <label asp-for="Medicine.Name" class="form-label"></label>
                    <span asp-validation-for="Medicine.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Medicine.BoxSize" class="form-control" />
                    <label asp-for="Medicine.BoxSize" class="form-label"></label>
                    <span asp-validation-for="Medicine.BoxSize" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
