@page
@model MyPills.Pages.Prescriptions.CreateModel

@{
    ViewData["Title"] = "Create";
}
        
<div class="container my-5">
    <h2 class="mb-4">Add new Prescription</h2>
            
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Prescription.Date" class="form-control datepicker" />
                    <label asp-for="Prescription.Date" class="form-label"></label>
                    <span asp-validation-for="Prescription.Date" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Prescription.ExpiryDate" class="form-control datepicker" />
                    <label asp-for="Prescription.ExpiryDate" class="form-label"></label>
                    <span asp-validation-for="Prescription.ExpiryDate" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input type="submit" value="Create" class="w-100 btn btn-lg btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

